/** @format */

.main {
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    box-shadow: 4px 0 16px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
}
.stroke {
    fill: none;

    path {
        fill: none !important;
    }
}
.notActive,
.active {
    width: 100%;
}
.btn {
    width: 100%;
}
